/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid darkgrey;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  padding-left: 10px;
}

.menu:before {
  content: " ";
}

.menu:after {
  content: " ";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.playgroundHeader {
    background: #5f5f5f !important;
    color: #f1f1f1;
}

.welcomeBackground {
    background: #87CEFA !important;
}

.console {
    color: darkgreen;
    font-family: "Times New Roman";
}