<div class="col-xs-12">
  <div class="col-xs-2">
    <div class="panel panel-warning">
      <div class="panel-heading ellipsis">Factory method</div>
      <div class="panel-body fixed-panel-body"><small>Define an interface for creating an object, but let subclasses decide which class to instantiate. Factory Method lets a class defer instantiation to subclasses.</small><br></div>
      <div class="panel-footer"><div ui-sref='pattern.factoryMethod' type='button' class='btn btn-block btn-warning'>Test pattern</div></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-warning">
      <div class="panel-heading ellipsis">Abstract Factory</div>
      <div class="panel-body fixed-panel-body"><small>Provide an interface for creating families of related or dependent objects without specifying their concrete classes.</small><br></div>
      <div class="panel-footer"><div ui-sref='pattern.abstractFactory' type='button' class='btn btn-block btn-warning'>Test pattern</div></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-warning">
      <div class="panel-heading ellipsis">Builder</div>
        <div class="panel-body fixed-panel-body"><small>Separate the construction of a complex object from its representation so that the same construction process can create different representations.</small><br></div>
      <div class="panel-footer"><div type='button' class='btn disabled btn-block btn-warning'>Test pattern</div></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-success">
      <div class="panel-heading ellipsis">Builder</div>
        <div class="panel-body fixed-panel-body"><small>Separate the construction of a complex object from its representation so that the same construction process can create different representations.</small><br></div>
      <div class="panel-footer"><div type='button' class='btn disabled btn-block btn-success'>Test pattern</div></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-info">
      <div class="panel-heading ellipsis">Builder</div>
        <div class="panel-body fixed-panel-body"><small>Separate the construction of a complex object from its representation so that the same construction process can create different representations.</small><br></div>
      <div class="panel-footer"><div type='button' class='btn disabled btn-block btn-info'>Test pattern</div></div>
    </div>
  </div>
</div>