<div class="col-xs-12">
  <div class="col-xs-2">
    <div class="panel panel-warning">
      <div class="panel-heading">Abstract Factory</div>
      <div class="panel-body fixed-panel-body"><small>Provide an interface for creating families of related or dependent objects without specifying their concrete classes.</small><br></div>
      <div class="panel-footer"><button type='button' class='btn btn-block btn-warning' ng-click=''>Test pattern</button></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-warning">
      <div class="panel-heading">Builder</div>
        <div class="panel-body fixed-panel-body"><small>Separate the construction of a complex object from its representation so that the same construction process can create different representations.</small><br></div>
      <div class="panel-footer"><button type='button' class='btn disabled btn-block btn-warning' ng-click=''>Test pattern</button></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-success">
      <div class="panel-heading">Builder</div>
        <div class="panel-body fixed-panel-body"><small>Separate the construction of a complex object from its representation so that the same construction process can create different representations.</small><br></div>
      <div class="panel-footer"><button type='button' class='btn disabled btn-block btn-success' ng-click=''>Test pattern</button></div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-info">
      <div class="panel-heading">Builder</div>
        <div class="panel-body fixed-panel-body"><small>Separate the construction of a complex object from its representation so that the same construction process can create different representations.</small><br></div>
      <div class="panel-footer"><button type='button' class='btn disabled btn-block btn-info' ng-click=''>Test pattern</button></div>
    </div>
  </div>
</div>